:root{
    --vDarkBlue: hsl(233, 47%, 7%);
    --dsBlue: hsl(244, 38%, 16%);
    --sViolet: hsla(277, 64%, 61%, 0.5);

    --white:hsl(0, 0%, 100%);
    --transWhite1: hsla(0, 0%, 100%, 0.75);
    --transWhite2: hsla(0, 0%, 100%, 0.6);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html{
    height: 100%;
}
body{
    background-color: var(--vDarkBlue);
    height: 100%;
    width: 100%;
    color:var(--transWhite2);
    font-family: 'Inter', sans-serif;

}

.page-container{
    position: relative;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     
    text-align: center;   
}
.content-wrap{
    padding-bottom: 2.5rem;

    
}

span{
    color: var(--sViolet);
}
.card{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--dsBlue);

}

.infobox{
    height: 60%;
    width: 80%;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 5%;
    flex-direction: column;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
}

.imgbox{
    position: relative;

}

/** Not sure why I had to add this, but had to add to get tint to line up **/
img{
    margin-bottom: -3px;
}



.imgbox:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--sViolet);
  }
h1{
    color: var(--white);
}
h2{
    color: var(--white);
    
}
p{
    color:var(--transWhite2);
    font-family: 'Lexend Deca',sans-serif;
}


/** Mobile Styling **/

@media (max-width: 375px) {

    .container{
        margin-bottom: 10%;
    }

    .card{
        flex-direction: column-reverse;
        max-width: 325px;
        margin-bottom: 10%;
    }

    .imgbox{
        max-width: 325px;
    }

    img{
        max-width: 100%;
    }

    .row{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
   
    
}